body{
    font-size: 12px;
   
   text-align: left;
   background-color:#ffffff;
}
.headerWrapper{
    position:fixed;
    top: 0;
    width:95%;
        display: flex;
        padding: 19px 50px ;
        justify-content: space-between;
        background: transparent;
        align-items: center;
        text-transform: uppercase;
        line-height: 19px;
        font-style: normal;
        font-size:12px;
        color:white;
        transition: color .2s ease-in-out,background .2s ease-in-out;
        -webkit-transition: color .2s ease-in-out,background .2s ease-in-out;
        -moz-transition: color .2s ease-in-out,background .2s ease-in-out;
        -ms-transition: color .2s ease-in-out,background .2s ease-in-out;
        -o-transition: color .2s ease-in-out,background .2s ease-in-out;
        border-bottom: 0.1px solid white;
        -webkit-border-radius:0.1px solid white;
        -moz-border-radius:0.1px solid white;
        -ms-border-radius:0.1px solid white;
        -o-border-radius:0.1px solid white;
  z-index: 1;      
}
header{
    height: 80vh;
    background: url('../images/header.jpg');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
   
}
.logo{
    margin-right: 12%;
}
.headerWrapper:hover{
    color:black !important;;
    background: #ffffff !important;;
   

}

ul{
    list-style: none;
    display: flex;
}
li{
    margin: 6px 21px;
   

    
}
a{
    text-decoration: none;
color:inherit
}

.overlay{
      position:fixed;
      display:none;
      width:100vw;
      height: 100vh;
      background-color: black;
      opacity: 0;
      z-index: 2;
      transition: opacity .3s ease-in-out;
      -webkit-transition: opacity .3s ease-in-out;
      -moz-transition: opacity .3s ease-in-out;
      -ms-transition: opacity .3s ease-in-out;
      -o-transition: opacity .3s ease-in-out;
}
@keyframes fade-in{
    0%{
        opacity:0
    }
    100%{
        opacity: .5;
    }
}
.cart{
    position: fixed;
    display:none;
    width:30vw;
    height:100vh;
    right:0;
    background-color: #efefef;
    z-index: 3;
    animation: slide-in 500ms ;
    -webkit-animation: slide-in 500ms ;
}
@keyframes slide-in {
    0%{
        transform:translateX(100%)    ;
        -webkit-transform:translateX(100%)    ;
        -moz-transform:translateX(100%)    ;
        -ms-transform:translateX(100%)    ;
        -o-transform:translateX(100%)    ;
}
100%{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}
}
@keyframes slide-out {
    0%{
        transform:translateX(0%)    ;
        -webkit-transform:translateX(0%)    ;
        -moz-transform:translateX(0%)    ;
        -ms-transform:translateX(0%)    ;
        -o-transform:translateX(0%)    ;
}
100%{
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}
}
.cartHeader{
    display: flex;
    justify-content: space-between;
    margin: 24px;
    align-items: center;
}
.x{
    margin: 10px;
    width:15px;
    height:15px
}